{% extends 'donation/base.html' %}

{% block content %}
<section class="container">
    <div class="row mt-10">
          <h4>PayMent Method/Channel</h4>
        <div class="col-md-6">
            <h6 class="pesa">Tigo Pesa</h6>
         <p>1. Dial *150*01#</p>
         <p>2. Choose Option 4 --- "Pay Bills"("Lipia Bili")</p>
       <p>3. Choose Option 5 --- "Government Payment" ("Malipo ya Serikali")</p> 
       <p>4. Enter Reference Number (Weka Kumbu kumbu namba) -- Control Number</p> 
       <p>5. Enter Amount (Ingiza kiasi)</p>  
<p>6. Enter pin to confirm (Ingiza namba ya siri kuhakiki)</p> 

        </div>
        <div class="col md-6">
              <h6 class="pesa">M-Pesa</h6>
         <p>1. Dial *150*01#</p>
         <p>2. Choose Option 4 --- "Pay Bills"("Lipia Bili")</p>
       <p>3. Choose Option 5 --- "Government Payment" ("Malipo ya Serikali")</p> 
       <p>4. Enter Reference Number (Weka Kumbu kumbu namba) -- Control Number</p> 
       <p>5. Enter Amount (Ingiza kiasi)</p>  
<p>6. Enter pin to confirm (Ingiza namba ya siri kuhakiki)</p> 
</div>
    </div>
    <div class="row">
        <div class="col md-6">
              <h6 class="pesa">Airtel Money Pesa</h6>
         <p>1. Dial *150*01#</p>
         <p>2. Choose Option 4 --- "Pay Bills"("Lipia Bili")</p>
       <p>3. Choose Option 5 --- "Government Payment" ("Malipo ya Serikali")</p> 
       <p>4. Enter Reference Number (Weka Kumbu kumbu namba) -- Control Number</p> 
       <p>5. Enter Amount (Ingiza kiasi)</p>  
<p>6. Enter pin to confirm (Ingiza namba ya siri kuhakiki)</p> 
</div>
<div class="col md-6">
              <h6 class="pesa">Airtel Money Pesa</h6>
       <p>1. Account Name : Online Donation</p>
<p>2. Use Control Number to pay<p>
 
</div>
    </div>
</section>

{% endblock %}